body {
  background-image: url(../images/grid-18px-masked.png);
  background-repeat: repeat-x;
}

.main-container {
  background-image: url(../images/white-semitrans.png);
  background-repeat: repeat-all;
}

.sneha-logo {
  float: right;
}
