body {
  background-image: url(../images/noise/noise_05.jpg);
  background-repeat: repeat;
}

.main-container {
  background-image: url(../images/white-semitrans.png);
  background-repeat: no-repeat;
}

.sneha-logo {
  float: right;
}
