- @title="About"
- @navbar_active_about=:active
.row
  .span6
    .page-header
      %h1
        Dr.P.S.N.Murthy
        %small M.D
  .span6
    .page-header
      %h1
        Dr.P.Ramadevi
        %small M.B.B.S, D.G.O
