- @title='Contact Us'
.row
  .span12
    %dl
      %dt 
        %i.icon-home
        Postal Address
      %dd
        %address
          %strong Sneha Hospital<br/>
          30-14-9<br/>
          Kothavantena Road<br/>
          Durga Agraharam<br/>
          Vijayawada<br/>
          Andhra Pradesh<br/>
          Pincode: 520002<br/>
      %dt
        %i.icon-tag
        Telephone
      %dd
        %address (0866) 2432434
      %dt
        %i.icon-envelope
        Email
      %dd
        %address info <em>at</em> snehahospital <em>dot</em> in
