- @title='Contact Us'
%h3 Postal Address
%address
  %strong Sneha Hospital
  %br/
  30-14-9
  %br/
  Kothavantena Road
  %br/
  Durga Agraharam
  %br/
  Vijayawada
  %br/
  Andhra Pradesh
  %br/
  Pincode: 520002

