- @title='Contact Us'
- @navbar_active_contact_us=:active
.row
  .span6
    %dl
      %dt
        %i.icon-tag
        Telephone
      %dd
        %address (0866) 2432434
      %dt
        %i.icon-envelope
        Email
      %dd
        %address info <em>at</em> snehahospital <em>dot</em> in
  .span6
    %dl
      %dt 
        %i.icon-home
        Postal Address
      %dd
        %address
          %strong Sneha Hospital<br/>
          30-14-9<br/>
          Kothavantena Road<br/>
          Durga Agraharam<br/>
          Vijayawada<br/>
          Andhra Pradesh<br/>
          Pincode: 520002<br/>
.row
  .span6.offset3
    <!-- Google Maps Element Code -->
    <iframe frameborder=0 marginwidth=0 marginheight=0 border=0 style="border:1px solid #eeeeee;padding:5px;margin:0;width:400px;height:300px;" src="http://www.google.com/uds/modules/elements/mapselement/iframe.html?maptype=roadmap&latlng=16.516971%2C80.637416&mlatlng=16.516971%2C80.637416&maddress1=30-14-9%2C%20Kothavanthena%20Road%2C%2C%20Durga%20Agraharam%2C&maddress2=Vijayawada%2C%20Andhra%20Pradesh%20520002%2C%20India&zoom=16&mtitle=Sneha%20Hospital&element=true" scrolling="no" allowtransparency="true"></iframe>
