- @title='Home'
.row
  .span8.offset2
    .hero-unit
      .main-hero-unit
        %h1 Sneha
        %p Mother &amp; Child Hospital
      %hr/
      %p.main-hero-unit-contents
        %strong> Dr.P.S.N.Murthy
        %br/
        %span<>
          %abbr.initialism M.D
          (Paediatrics)
        %br/
        %strong> Dr.P.Ramadevi
        %br/
        %abbr.initialism M.B.B.S, D.G.O
.row
  .span10.offset1
    %ul.thumbnails
      %li.span10
        %a.thumbnail
          =image_tag 'IMG_0183.jpg', {:title => 'Photo of Sneha Hospital'}
