- @title='Home'
- @navbar_active_index=:active
.row
  .span8.offset2
    .hero-unit
      =image_tag 'sneha.jpg', {:title => 'Logo of Sneha Hospital', :class => 'sneha-logo'}
      .main-hero-unit
        %h1 Sneha
        %p Mother &amp; Child Hospital
      %hr/
      .row-fluid
        .span6
          %p
            %strong
              =link_to 'Dr. PSN Murthy', url_for(:about)
            %br/
            %abbr.initialism M.D
            (Paediatrics)
        .span6
          %p
            %strong
              =link_to 'Dr. P Rama Devi', url_for(:about)
            %br/
            %abbr.initialism M.B.B.S, D.G.O
.row
  .span12.offset0
    %ul.thumbnails
      %li.span12
        %a.thumbnail
          =image_tag 'IMG_0183.jpg', {:title => 'Photo of Sneha Hospital'}
