- @title='Home'
.row
  .span8.offset2
    .hero-unit
      =image_tag 'sneha.jpg', {:title => 'Logo of Sneha Hospital', :class => 'sneha-logo'}
      .main-hero-unit
        %h1 Sneha
        %p Mother &amp; Child Hospital
      %hr/
      %p.main-hero-unit-contents
        %strong> Dr.P.S.N.Murthy
        %br/
        %span<>
          %abbr.initialism M.D
          (Paediatrics)
        %br/
        %strong> Dr.P.Ramadevi
        %br/
        %abbr.initialism M.B.B.S, D.G.O
.row
  .span12.offset0
    %ul.thumbnails
      %li.span12
        %a.thumbnail
          =image_tag 'IMG_0183.jpg', {:title => 'Photo of Sneha Hospital'}
